.navbar, .navbar-inverse {
	border-radius: 0;
	border: solid;
	margin-bottom: 0;
	    background-color: #d8d1c7;

	min-height:40px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #3b5372;
	font-family: Lato;
	font-size: 1.5em;
	/*padding: 50px;*/
	/*font-weight: 300;*/
	padding:  50px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #d8d1c7;

}
img{
  float:left;
  max-width: 50px;
  max-height: 50px;



}
.container{
	height: 1.5px;

}

#text{
	margin:20px 20px 10px 30px;
	color:#3b5372;
	font-weight: bold;
	float: left;

.caret{
	margin-left: 170px;

margin-top: -40px;
}
.navbar-right {
    margin-right: 55px;
}
////




















#mainNav{
    background-color:rgba(216, 209, 199, 1);
    color:rgba(59, 83, 114, 1);
}
@media(min-width:760px)
{
    .row{
    margin-top:50px;
    }
}

.glyphicon-time:before {
  color: rgba(59, 83, 114, 1);
}
.glyphicon-user:before {
  color: rgba(59, 83, 114, 1);
}
