<div class="container dash">

   <div class="row">
       <div class="col-md-4">
           <div class="sidebar">
               <div class="header">
                   <h3>Attendance summary<a href="#"><span class="glyphicon glyphicon-list"></span></a></h3>
                   <div class="bottom-align-text">
                       <span class="date1">{{ today | date : "dd,MMMM y" }}</span>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-md-4">
           <div class="content">
                <!--<div class="sidebar">-->
               <div class="header">
                   <h3>Attendance Fallout<a href="#"><span class="glyphicon glyphicon-list"></span></a></span></a></h3>
                   <div class="bottom-align-text">
                      <span class="date2">{{ today | date : "dd,MMMM y" }}</span>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-md-4">
           <div class="sidebar">
               <div class="header">
                   <h3>Leave summary<a href="#"><span class="glyphicon glyphicon-list"></span></a></h3>
                   <div class="bottom-align-text">
                      <span class="date3">{{ today | date : "dd,MMMM y" }}</span>
                   </div>

               </div>
           </div>
       </div>
   </div>
   <div class="row">
       <div class="col-md-4">
           <div class="sidebar">
               <div class="header">
                   <!-- <h1>Engineers<a href="#"><span class="glyphicon glyphicon-list"></span></a></h1> -->
               </div>
           </div>
       </div>
       <div class="col-md-4">
           <div class="content">
               <div class="header">
                   <!-- <h1>Clients<a href="#"><span class="glyphicon glyphicon-list"></span></a></h1> -->
               </div>
           </div>
       </div>
       <div class="col-md-4">
           <div class="sidebar">
               <div class="header">
                   <!-- <h1>Reports<a href="#"><span class="glyphicon glyphicon-list"></span></a></h1> -->
               </div>
           </div>
       </div>
   </div>

</div>
